body {
    overflow-x: avoid;
    background: linear-gradient(270deg, #f7f1e3, #4bcffa);
    font-family: "Open Sans", serif;
}
/* General Style */
a {
    color: #272829;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Railway", sans-serif;
}

/* Start of header styles */
#bio-header {
    position: fixed;
    width: 320px;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all ease-in 0.5s;
    z-index: 998;
    padding: 0 25px;
    background: #040b14;
    overflow-y: auto;
}
#bio-header #bio-profile img {
    margin: 15px auto;
    display: block;
    width: 150px;
    border: 8px solid #1e272e;
}
#bio-header #bio-profile h1 {
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    text-align-last: center;
}
#bio-header #bio-profile #social-media-links a{
    font-style: 18px;
    display: inline-block;
    background: #cc8e35;
    color: #fff;
    line-height: 1;
    padding: 12px 5px;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: all 0.4s;
}
#bio-header #bio-profile #social-media-links a:hover {
    background: #fff;
    color: #cc8e35;
    text-decoration: none;
}
/*Media queries for smaller screens*/
@media (max-width: 1100px) {
    #bio-header {
        left: -320px;
    }
    .bio-main {
        margin-left: 0 !important;
    }
}
/*nav menu styles*/
#bio-navbar {
    padding: 30px 0 0 0;
}
#bio-navbar * {
    margin: 0;padding: 0;
}
#bio-navbar>ul>li {
    position: relative;
    white-space: nowrap;
}
#bio-navbar a {
    display: flex;
    color: #fff;
    align-items: center;
    padding: 10px 10px;
    transition: 0.4s;
}
#bio-navbar a i {
    padding-right: 6px;
    color: #CAD3C8;
}
#bio-navbar a:hover i, #bio-navbar .active i, #bio-navbar li:hover>a i {
    color: #ffa502;
}

/*Nav Toggle button and back to top*/
#nav-toggle-btn {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 995;
    border: 1px solid;
    transition: all 0.4s;
    outline: none;
    font-size: 25px;
    background: #040b14;
    color: #fff;
    padding: 7px 7px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-toggle-active {
    overflow: hidden;
}
.nav-toggle-active #bio-header {
    left: 0;
}
.btt{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 995;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    background: #0c2461;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.btt i {
    font-size: 25px;
    color: #fff;
    line-height: 0;
}
.btt i:hover {
    color: #ff9f1a;
}
.btt.active {
    visibility: visible;
    opacity: 1;
}
/*End of navbar toggle and back to top*/
/*Jumbotron Style*/
#jumbotron {
    width: 100%;
    height: 100vh;
    background: url("../media/hero-bg.jpg") top center fixed;
    background-size: cover;
}
#jumbotron::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.jumbotron-container {
    position: relative;
    z-index: 2;min-width: 300px;
}
#jumbotron h1 {
    font-weight: 700;
    line-height: 55px;
    color: #fff;
    font-size: 65px;
    margin: 0 0 10px 0;
}
#jumbotron p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}
#jumbotron p span {
    color: #ffa502;
}
@media (max-width: 768px) {
    #jumbotron h1 {
        font-size: 27px;
        line-height: 35px;
    }
}
.bio-main {
    margin-left: 320px;
}
/*General styles for each section*/
section {
    padding: 50px 0;
    overflow: hidden;
}
.section-title {
    padding-bottom: 30px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #040b14;
}
.section-title h2::after {
    content: "";
    position: absolute;
    display: block;width: 60px;
    height: 4px;
    background: #0c2461;
    left: 0;
    bottom: 0;
}
.section-title p {
    margin-bottom: 0;
}

/*Styles specific to section*/
/*About Section styles*/
#bio-about-section ul li{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
#bio-about-section ul strong {
    margin-right: 10px;
}
#bio-about-section ul i {
    margin-right: 5px;line-height: 0;
    font-size: 15px;
}
/*Quick Reiew section styles*/
.bio-credit-col .container i {
    color: #0c2461;
    font-size: 40px;
}
.bio-credit-col .number {
    font-size: 42px;
    font-weight: 300;
}

/*My Skills Section*/
#bio-skills-content .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}
#bio-skills-content .progress .bio-skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    color: #040b14;
    font-weight: 600;
}
#bio-skills-content .progress .bio-skill .skill-level {
    float: right;
    font-style: normal;
}
#bio-skills-content .progress-bar-wrap {
    background: #CAD3C8;
    height: 12px;
    border-radius: 8px;
}
#bio-skills-content .progress-bar {
    height: 12px;
    transition: 0.9s;
    background:#0c2461;
    border-radius: 8px;
}

/*Portfolio Section*/
.portfolio-item {
    position: relative;
}
.portfolio-links {
    top: 40%;
    left: 25%;
    position: absolute;
    z-index: 4;
    opacity: 0;
    transition: 0.5s;
}
.portfolio-links a {
    font-size: 30px;
    background: #000;
    padding: 10px 15px;
    border-radius: 30px;
    transition: 0.4s;
    margin: 0 10px;
    justify-content: center;
}
.portfolio-links a:hover {
    background: #ffa502;
}
.portfolio-links a i{
    color: #f7f1e3;
}
.portfolio-item:hover .portfolio-links {
    opacity: 1;
}
.img-resize {
    height: 200px !important;
    width: 300px !important;
}

/*Services Section*/
#bio-services .service-box {
    margin-bottom: 25px;
}
#bio-services .icon-box {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background: #040b14;
    border-radius: 50%;
    transition: all 0.5s;
    border: 1px solid #040b14;
}
#bio-services .icon-box i {
    color: #f7f1e3;
    font-size: 25px;
    line-height: 0;
}
#bio-services .service-box:hover .icon-box {
    background: #f7f1e3;
}
#bio-services .service-box:hover .icon-box i {
    color: #0c2461;
}
#bio-services .title {
    margin-left: 75px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}
#bio-services .service-description {
    margin-left: 75px;
    font-size: 15px;
    line-height: 24px;
}
/*Contact Section Style*/
#bio-contact #bio-contact-info {
    padding: 30px;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 0 25px #1e272e;
}
#bio-contact #bio-contact-info i {
    font-size: 22px;
    color: #040b14;
    background: #f7f1e3;
    float: left;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}
#bio-contact #bio-contact-info h4 {
    padding: 0 0 0 60px;margin-bottom: 5px;
    font-weight: 600;
    color: #040b14;
}
#bio-contact #bio-contact-info p {
    padding: 0 0 0 60px;margin-bottom: 20px;
}
#bio-contact-form {
    width: 100%;
    padding: 30px;
    box-shadow: 0 0 25px #1e272e;
}
#bio-contact-form .form-group {
    padding-bottom: 8px;
    margin-bottom: 15px;
}
#bio-contact-form label {
    padding-bottom: 8px;
}
#bio-contact-form input, #bio-contact-form textarea {
    border-radius: 0;
    box-shadow: none;
} 
#bio-contact-form input {
    height: 44px;
}
#bio-contact-form textarea {
    padding: 10px 15px;
}
#bio-contact iframe {
    position: relative;
    width: 100%;
    height: 55vh;
    min-height: 55vh;
    max-height: 60vh;
}
/*Footer Style*/
#bio-footer {
    padding: 15px;
    font-style: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;background: transparent;
    color: #f7f1e3;
    z-index: 999;
}
@media (max-width: 1100px) {
    #bio-footer {
        position: static;
        width: auto;
        padding-right: 15px 10px;
    }
}